<ng-container >
    <div class="container my-4">



        <div class="row mt-4">
          <div class="table-wrapper col-md-12">
            <table class="table table-responsive card-list-table">
                <thead class="thead-dark">
                <tr>
                    <th  class="text-center" scope="col">Id</th>
                    <th  class="text-center" scope="col">Contenedor</th>
                    <th  class="text-center" scope="col">Estado</th>
                    <th  class="text-center" scope="col">Reconteo</th>
                </tr>
                </thead>
                <tbody>
                    <tr    *ngFor="let data of dataDetails ; let ind=index">
                        <th  class="text-center" data-title="num" scope="row">{{data.Id_Contenedor_Trasvaciado}}</th>
                        <td  class="text-center" data-title="Tipo">{{data.Contenedor}}</td>
                        <td  class="text-center" data-title="Placa">{{data.Estado}}</td>
                        <td  class="text-center" data-title="Ingreso">{{data.Reconteo}}</td>
               
                        
                    </tr>
                </tbody>
            </table>
</div>
</div>
</div>
</ng-container> 

